head
  link(href='#{page.static_url}css/layout/layout.css#{page.version}', media='all', rel='stylesheet', type='text/css')
  link(href='#{page.static_url}css/layout/fonts.css#{page.version}', media='all', rel='stylesheet', type='text/css')
  link(href='#{page.static_url}css/pages/#{section}/#{section}.css#{page.version}', media='all', rel='stylesheet', type='text/css')
